.completed-text {
  background-color: #34d399; 
  color: white;
}

.completed-animation {
  animation: bounce 0.5s forwards, fadeIn 0.5s forwards;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.progress-dots::after {
  content: " .";
  animation: dotAnimation 1.5s steps(1, end) infinite;
}

@keyframes dotAnimation {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}



@keyframes fadeInQoutes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeInQoutes 1.5s ease-in-out forwards;
}



.eighties-rad {
  -webkit-text-stroke: 2px black;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 3vw;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 
    5px 5px 0px #07bccc,
    10px 10px 0px #e601c0,
    15px 15px 0px #e9019a,
    20px 20px 0px #f40468,
    30px 30px 10px rgba(0,0,0,.2);
}
.eighties-img {
  width: 40%; 
}

@media (min-width: 768px) {
  .eighties-img {
    width: 10%;
  }
}


